<div class="rounded-2xl border border-gray-200 bg-gray-100 dark:border-gray-800 dark:bg-white/[0.03]">
  <div class="px-5 pt-5 bg-white shadow-default rounded-2xl pb-11 dark:bg-gray-900 sm:px-6 sm:pt-6">
    <div class="flex justify-between">
      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
          Monthly Target
        </h3>
        <p class="mt-1 text-gray-500 text-theme-sm dark:text-gray-400">
          Target you’ve set for each month
        </p>
      </div>
      <div class="relative inline-block">
        <button class="dropdown-toggle" (click)="toggleDropdown()">
          <svg class="text-gray-400 hover:text-gray-700 dark:hover:text-gray-300" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0001 4.50005C12.4143 4.50005 12.7501 4.83584 12.7501 5.25005V5.26005C12.7501 5.67426 12.4143 6.00005 12.0001 6.00005C11.5859 6.00005 11.2501 5.67426 11.2501 5.26005V5.25005C11.2501 4.83584 11.5859 4.50005 12.0001 4.50005ZM12.0001 11.25C12.4143 11.25 12.7501 11.5858 12.7501 12V12.01C12.7501 12.4242 12.4143 12.76 12.0001 12.76C11.5859 12.76 11.2501 12.4242 11.2501 12.01V12C11.2501 11.5858 11.5859 11.25 12.0001 11.25ZM12.0001 18C12.4143 18 12.7501 18.3358 12.7501 18.75V18.76C12.7501 19.1742 12.4143 19.51 12.0001 19.51C11.5859 19.51 11.2501 19.1742 11.2501 18.76V18.75C11.2501 18.3358 11.5859 18 12.0001 18Z" fill="currentColor"></path></svg>
        </button>
        <app-dropdown [isOpen]="isOpen" (close)="closeDropdown()" className="w-40 p-2">
          <app-dropdown-item (itemClick)="closeDropdown()"
            className="flex w-full font-normal ltr:text-left rtl:text-right text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300">
            View More
          </app-dropdown-item>
          <app-dropdown-item (itemClick)="closeDropdown()"
            className="flex w-full font-normal ltr:text-left rtl:text-right text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300">
            Delete
          </app-dropdown-item>
        </app-dropdown>
      </div>
    </div>
    <div class="relative max-h-[195px]">
      <div class="h-full" id="chartTwo">
        <apx-chart
          [series]="series"
          [chart]="chart"
          [plotOptions]="plotOptions"
          [fill]="fill"
          [stroke]="stroke"
          [labels]="labels"
          [colors]="colors"
        ></apx-chart>
      </div>
      <span class="absolute left-1/2 top-[85%] -translate-x-1/2 -translate-y-[85%] rounded-full bg-success-50 px-3 py-1 text-xs font-medium text-success-600 dark:bg-success-500/15 dark:text-success-500">
        +10%
      </span>
    </div>
    <p class="mx-auto mt-1.5 w-full max-w-[380px] text-center text-sm text-gray-500 sm:text-base">
      You earn $3287 today, it's higher than last month. Keep up your good work!
    </p>
  </div>

  <div class="flex items-center justify-center gap-5 px-6 py-3.5 sm:gap-8 sm:py-5">
    <div>
      <p class="mb-1 text-center text-gray-500 text-theme-xs dark:text-gray-400 sm:text-sm">
        Target
      </p>
      <p class="flex items-center justify-center gap-1 text-base font-semibold text-gray-800 dark:text-white/90 sm:text-lg">
        $20K
      </p>
    </div>
    <div class="w-px bg-gray-200 h-7 dark:bg-gray-800"></div>
    <div>
      <p class="mb-1 text-center text-gray-500 text-theme-xs dark:text-gray-400 sm:text-sm">
        Revenue
      </p>
      <p class="flex items-center justify-center gap-1 text-base font-semibold text-gray-800 dark:text-white/90 sm:text-lg">
        $20K
      </p>
    </div>
    <div class="w-px bg-gray-200 h-7 dark:bg-gray-800"></div>
    <div>
      <p class="mb-1 text-center text-gray-500 text-theme-xs dark:text-gray-400 sm:text-sm">
        Today
      </p>
      <p class="flex items-center justify-center gap-1 text-base font-semibold text-gray-800 dark:text-white/90 sm:text-lg">
        $20K
      </p>
    </div>
  </div>
</div>
