# Visual Studio / VS Code configuration files
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build & Output directories
bin/
obj/
out/

# Docker build ignores
Dockerfile*
docker-compose*
.dockerignore

# Git files
.git/
.gitignore

# Environment files and logs
appsettings.Development.json
*.log
*.tmp